:root {
    --accent-bg-color: #1e66f5;
    --window-bg-color: #eff1f5;
    --popover-bg-color: #e6e9ef;
    --accent-fg-color: #4c4f69;
    --window-fg-color: #4c4f69;
    --view-fg-color: #4c4f69;
    --popover-fg-color: #4c4f69;
    --scrollbar-outline-color: #dce0e8;
    --border-color: #ccd0da;
}

.dark-theme {
    --accent-bg-color: #89b4fa;
    --window-bg-color: #1e1e2e;
    --popover-bg-color: #181825;
    --accent-fg-color: #cdd6f4;
    --window-fg-color: #cdd6f4;
    --view-fg-color: #cdd6f4;
    --popover-fg-color: #cdd6f4;
    --scrollbar-outline-color: #11111b;
    --border-color: #313244;
}

@keyframes show {
    0% {
        transform: translateY(-64px);
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes hide {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    60% {
        transform: translateY(64px);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-64px);
    }
}

.show {
    animation: show 300ms ease;
    transform: translateY(0);
    opacity: 1;
}

.hide {
    animation: hide 300ms ease-out;
    transform: translateY(-64px);
    opacity: 1;
}

.ts-main {
    border-radius: 12px;
    background-color: var(--window-bg-color);
    border: 1px solid var(--border-color);
    box-shadow: 0px 8px 16px 4px rgba(1, 0, 0, 0.2);
}

window {
    background-color: transparent;
}

.ts-header {
    padding: 20px 20px 16px 20px;
}

.ts-header entry {
    min-height: 36px;
    border-radius: 18px;
    border: 1px solid var(--border-color);
    padding: 0 12px 0 20px;
}

.ts-header entry image:last-child {
    margin: 0;
    padding: 0;
}

.ts-header entry image {
    margin: 0;
    padding: 0 14px 0 0;
}

button,
list {
    background-color: transparent;
}


list {
    padding: 0 20px;
}

row {
    padding: 0 12px;
    min-height: 72px;
    border-radius: 8px;
    margin-bottom: 8px;
}

row:hover {
    border: 1px solid var(--border-color);
}

row:selected {
    border: 2px solid color-mix(in srgb, var(--accent-bg-color), transparent);
}

box>image {
    padding: 0 12px 0 0;
}
